.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #EEEEEE;
}

.advantages-list__item {
  margin: 0 0 14px;
  border-bottom: 1px solid #D6D6D6;
  text-align: center;

  .advantages-list__inform {
    padding: 0;
    margin: 0;

    li:last-child {
      margin: 0;
      border: none;
    }
  }
}


.advantages-list__title {
  font-family: "PT Sans B", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  margin-bottom: 13px;
  padding-top: 65px;
}

.advantages-list__number {
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-bottom: 18px;
}

.advantages-list__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  padding-bottom: 30px;
}

.advantages-list__item--spec {
  border-bottom: none;
  &.advantages-list__title {
    color: #FFFFFF;
  }
  &.advantages-list__item--first {
    .advantages-list__title {

      color: #FFFFFF;
    }
  }
  &.advantages-list__item--second {
    .advantages-list__title {
      padding: 0;
      color: #FFFFFF;
    }
  }
  & .advantages-list__container-item {
    background-color: #81B3D2;
    color: #FFFFFF;
    position: relative;
  }


  & .advantages-list__text {
    color: #FFFFFF;
  }
}


@media screen and (min-width: 768px) {
  .advantages-list__inform {
    list-style: none;
    display: flex;
    justify-content: space-between;

    .advantages-list__item {
      border: none;
      margin-bottom: 0;
    }

    .advantages-list__container-item {

      display: flex;
      flex-direction: column;
      border: none;
      align-items: center;

      .advantages-list__title {
        padding-top: 0;
        font-size: 21px;
        width: 50%;
        margin-bottom: 20px;
      }

      .advantages-list__text {
        width: 70%;
      }
    }
  }

  .advantages-list__item--spec {
    .advantages__list--img {
      max-width: 60%;
      height: 256px;
    }
  }

  .advantages-list__container-item {
    display: flex;

    .advantages_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .advantages-list__title {
        padding-top: 0;
      }

      .advantages-list__text {
        padding-bottom: 0;
        width: 80%;
      }
    }

    .advantages__list--img {
      max-height: 256px;
      object-fit: cover;
      margin-bottom: 0;
    }
  }
}
