.photo {
  padding: 0;
  margin: 0;
}

.photo__title {
  font-family: "PT Sans B", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  text-align: center;
}

.photo__text {
  font-family: "PT Sans B", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  text-align: center;
}

.photo__list {

}

.photo-list {

}

.photo-list__title {
  padding: 0;
  margin: 0;
  font-family: "PT Sans B", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

.photo-list__author {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

.photo-list__like {
  font-family: "PT Sans B", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

.photo-list__like::after {
  content: "";
  background-repeat: no-repeat;
  width: 100%;
  height: 21px;
  background-image: url(../img/photo/like-icon.svg.svg);
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-position: left;
}
